/* XEAL */

position: absolute;
width: 88px;
height: 37px;
left: 0px;
top: 10px;

font-family: 'Clash Display Variable';
font-style: normal;
font-weight: 700;
font-size: 30.2049px;
line-height: 37px;

color: #000000;

